*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: aliceblue;
    font-family: sans-serif;
}

::placeholder{
    color: aliceblue;
}

body{
    background-color: rgb(41, 41, 41);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    gap: 20px;
    padding: 20px;
}

.box-form{
    width: calc(100% - 50rem);
    padding: 20px;
    background-color: rgb(37, 33, 33);
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.form-title{
    font-size: 2rem;
    color: aliceblue;
    font-family: sans-serif;
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding-left: 20px;
}

.input-text{
    font-size: 20px;
    color: aliceblue;
    font-family: sans-serif;
}

.input-camp{
    width: calc(100% - 10rem);
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(39, 39, 39);
}

.form-submit{
    width: calc(100% - 20rem);
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(39, 39, 39);
    font-size: 12.5px;
    color: aliceblue;
    font-family: sans-serif;
    cursor: pointer;
}

.extras{
    width: calc(100% - 55rem);
    padding: 20px;
    background-color: rgb(37, 33, 33);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 40px;
}